<% @body_id = 'cart' %>

<h1 style="clear: both;"><%= t(:shopping_cart) %></h1>

<% if @order.line_items.empty? %>

  <div data-hook="empty_cart">
    <p><%= t(:your_cart_is_empty) %></p>
    <p><button><%= link_to t(:continue_shopping), products_path, :class => 'button continue' %></button></p>
  </div>

<% else %>


  <div class="outside_cart_form" data-hook="outside_cart_form">
    <div id="empty-cart" data-hook></div>
    
    <button id="checkout-link" class="button checkout primary" style='float:right;float: right; clear: right;width: 30%; background-color:black;height:2em;font-size:24px;margin-top: 1em;margin-bottom:3em;'>
      <%= link_to t(:checkout),checkout_path, :name => 'checkout', :style=>'color:white;' %>
    </button> 

    <%= render :partial => 'edit_order_form', :locals => { :order => @order } %>

  </div>

<% end %>
