<% @body_id = 'cart' %>
<% @multiple_columns = @order.shipments.length %> 

<div id="checkout" data-hook>  
  <%= render :partial => 'spree/shared/error_messages', :locals => { :target => @order } %>
  
  <div class="row" data-hook="checkout_header">
    <div data-hook="checkout_progress"><%= checkout_progress %></div>
  </div>
  
  <div class="checkout-form-wrapper <%= (@multiple_columns > 1) && (@order.state == 'delivery') ? 'multiple_columns_'+@multiple_columns.to_s : '' ; %> " data-hook="checkout_content" >
    <div class="checkout-form" data-hook="checkout_form_wrapper">
      <%= form_for @order, :url => update_checkout_path(@order.state), :html => { :id => "checkout_form_#{@order.state}" } do |form| %>
        <% unless @order.email? %>
          <p class="field" style='clear: both'>
            <%= form.label :email %><br />
            <%= form.text_field :email %>
          </p>
        <% end %>
        <%= render @order.state, :form => form %>
      <% end %>
    </div>    
    
    <% unless ["address", "confirm", "delivery"].include?(@order.state) %>
      <div id="checkout-summary" data-hook="checkout_summary_box">
      
        <%= render :partial => 'summary', :locals => { :order => @order } %>
      </div>
    <% end %>
  </div>


</div>

<% if I18n.locale != :en %>
  <script src="<%= assets_prefix %>/jquery.validate/localization/messages_<%= I18n.locale %>.js"></script>
<% end %>
