
<% if (banks = Spree::Bank.active).any? %>
    
    <%banks = banks.where(:currency => @order.currency) %> 

    <% banks.each do |bank| %>
      <h3>Please make a bank transfer to the following account. Your order will be processed after we receive this transaction.</h3>
      <table class="bank-transfer-table">
      <thead>
        <th>
            <%= bank.name %>
        <th>
      </thead>
      <tbody>
      <tr>
        <td>Name:</td>
        <td><%= bank.person_name %></td>
      </tr>
      
      <tr>
        <td>Address: </td>
        <td><%= bank.address %></td>
      </tr>
      
      <tr>
        <td>IBAN: </td>
        <td><%= bank.account_no %></td>
      </tr>  


      <tr>
          <td>Title: </td>
          <td>order <%= @order.number %> </td>
      </tr>


      <tr>
          <td>Amount: </td>
          <td><%= @order.amount %> </td>
      </tr>

      <tr>
        <td> Currency: </td>
        <td><%= bank.currency %></td>
      <tr>
      </tbody>
    </table>
    <p>
    (these account details will be emailed to you as well)
    </p>
    <% end %>
<% end %>