

    <table id="product-properties" class="table-display" data-hook itemprop="offers" itemscope itemtype="http://schema.org/Offer">
      <tbody>
        <% unless @product_properties.empty? %>  
        <% @product_properties.each do |product_property| %>
          <tr>

            <% if product_property.property.presentation  == "Availability" %> 
              <td itemprop="availability" itemtype="http://schema.org/Availability" content="http://schema.org/<%=product_property.value.split.map(&:capitalize).join('')%>"> 
                <%= product_property.property.presentation %>: <%= @product.master.stock_items.first().count_on_hand %> 
              </td>
            <% else %> 
              <td> 
                <%= product_property.property.presentation %>: <%= product_property.value %>
              </td>
            <% end %> 

          </tr>
        <% end %>
        <% reset_cycle('properties') %>
        <% end %>
          <tr>
            <td>
              <% if @product.price_in(current_currency) and !@product.price.nil? %>
                <span itemprop="price"><%= @product.price_in(current_currency).display_price %></span>
              <% end %>
            </td>
          </tr>
      </tbody>
    </table>
