<% unless product.nil?
  @product = product 
  end %> 

<%= form_for :order, :url => populate_orders_path do |f| %>
  <div id="inside-product-cart-form" data-hook="inside_product_cart_form" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
    
    <% if @product.price_in(current_currency) and !@product.price.nil? %>
      <%= hidden_field_tag "variants[#{@product.master.id}]", 1%>

        <div class="add-to-cart">         
          <% if @product.master.stock_items.first().count_on_hand > 0 %>      
            <%= button_tag :class => 'large primary cart_button', :type => :submit do %>
              <%= t(:add_to_cart) %>
            <% end %>
          <% else %>
            <strong class="out-of-stock"><%= t(:out_of_stock) %></strong>
          <% end %>
        </div>
    
    <% else %>
    
    <% end %>    

  </div>
<% end %>
