<footer id="footer">

    <div class="footer-content">

        <div class="footer-column" id="map-canvas">
            <div class="map-content">
                <a target="_BLANK" href="https://www.google.com/maps/place/Super+Salon/@52.2332101,21.0173606,18z/data=!4m6!1m3!3m2!1s0x471eccf431583953:0x30f8681e0918d0b6!2sSuper+Salon!3m1!1s0x471eccf431583953:0x30f8681e0918d0b6">
                <%= image_tag("map-supersalon.jpg") %>
                </a> 
            </div>
        </div>
        
        <div class="footer-column" itemscope itemtype="http://schema.org/LocalBusiness">
            <div id="footer-address">
                <%= render_snippet('footer-text') %> 
            </div>
        </div>
        
        <% if SpreeI18n::Config.supported_locales.size > 1 %>
          <div id="locale-select" style="display:none;" data-hook>
            <%= form_tag(set_locale_path) do %>
              <label for="locale"><%= Spree.t(:'i18n.language') %>:</label>
              <%= select_tag(:locale, options_for_select(supported_locales_options, I18n.locale),
                             :data => { :href => set_locale_path }) %>
              <noscript>
                <%= submit_tag %>
              </noscript>
            <% end %>
          </div>
        <% end %>

       <div id="footer-pages-deface" class="footer-column legal">
        </div>
 	  
    </div>

</footer>
