<%
#  paginated_products = @searcher.retrieve_products if params.key?(:keywords)
#  paginated_products ||= products
%>

<% if products.empty? %>
  <div class="columns ten alpha">
    <h3>
      <%= t(:no_products_found) %>
    </h3>
  </div>
<% elsif params.key?(:keywords) %>
  <h3 style="margin-top:0;margin-bottom:0;" class="search-results-title"><%= t(:search_results, :keywords => h(params[:keywords])) %></h3>
<% end %>

<% if products.any? %>
<ul id="products" class="inline product-listing" data-hook>
  <% products.each_with_index do |product, i| %>
    <% if product.available? %>

      <li id="product_<%= product.id %>" class="product-list-item" data-hook="products_list_item" itemscope itemtype="http://schema.org/Product">
        <div class="product-image">
          <%= link_to product, :itemprop => 'url'  do  %> 
            <%= large_image(product, :itemprop => "image") %>
          <% end %> 

          <div class="product-list-item-details">
            <div class="product-name">
              <%= link_to truncate(product.name, :length => 50), product, :class => 'info', :itemprop => "name", :title => product.name %>
              <% author_prop = product.properties.where(:name => 'Author').first %> 
              <% unless author_prop.nil? or author_prop.blank? %>
                <% author = product.product_properties.where(:property_id => author_prop.id).first %> 
                <% unless author.value.blank? %> 
                  <span>
                  / <%= author.value %> 
                  </span>
                  <% end %> 
              <% end %> 
            </div>

            <div itemprop="offers" itemscope itemtype="http://data-vocabulary.org/Offer" class="product-price"> 
              <%= product.price_in(current_currency).display_price %>
              <meta itemprop="priceCurrency" content="<%=current_currency%>" />
              <meta itemprop="price" content="<%=product.price%>" />
            </div>
          </div>
        </div>

        <%= render :partial => 'spree/products/simple_cart_form', :locals => {:product => product}%>
      </li>
    <% end %> 
  <% end %>
  <% reset_cycle("classes") %>
</ul>
<% end %> 
<% if products.respond_to?(:num_pages) %>
  <%= paginate products, :window => 9 %>
<% end %>
